 <br>
 <div class="container">
  <div class="jumbotron">
    <h1>Welcome to sails-designer</h1>
  </div>
  <h3>Features</h3>
  <p><i class="fa fa-font"></i> Use font awesome from the first day</p>
  <p><i class="fa fa-twitter"></i> Twitter Bootstrap integrated </p>
  <p><i class="fa fa-cog"></i> jQuery ready</p>
  <p><i class="fa fa-file-o"></i> Default .js and .css files ready to code</p>
</div>
